<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sustainability Webpage</title>
</head>
<body>
  <div id="container">
    <nav id="nav-bar">
      <button onclick="location.href='./index.html'">
        <img id="page-logo" alt="">
        <div>Sustainability Web</div>
      </button>
      <button onclick="location.href='./index.html'">Home</button>
      <div id="help-dropdown">
        <div>How can I help?</div>
        <img src="" alt="">
        <div class="dropdown-tab">
          <button onclick="location.href='./rrr.html'">Reduce, Reuse, Recycle</button>
          <button>Test</button>
        </div>
      </div>
      <button>Current Initiatives</button>
    </nav>
    <main id="content">
      <div id="intro">
        <h1>Welcome to my website dedicated to raising awareness about recycling and sustainability!</h1>
        <div class="intro-paragraph">
          <img src="" alt="">
          <div>
            <p>In this section, we embark on a journey toward a greener, more sustainable future through the power of recycling. </p>
            <p>As global citizens, it's important that we understand the essential role recycling plays in preserving our planet's delicate ecosystems and combating the escalating crisis of waste pollution. </p>
            <p>Explore the tabs above to find out more about the environmental impact of plastics, strategies for recycling, and organisational efforts driving progress in sinability initiatives.</p>
          </div>
        </div>
      </div>
      <div id="carousel">
        <div class="carousel-slide">
          <div id="image-slider-1">
            <img src="" alt="">
            <figcaption></figcaption>
          </div>
          <div id="image-slider-2">
            <img src="" alt="">
            <figcaption></figcaption>
          </div>
          <div id="image-slider-3">
            <img src="" alt="">
            <figcaption></figcaption>
          </div>
        </div>
        <div class="carousel-slide-indicator">
          <span data-value="1"></span>
          <span data-value="2"></span>
          <span data-value="3"></span>
        </div>
        <img class="carousel-left-arrow" data-value="left" src="" alt="">
        <img class="carousel-right-arrow" data-value="right" src="" alt="">
      </div>
    </main>
  </div>
</body>
</html>