<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sustainability Webpage</title>
</head>
<body>
  <div id="container">
    <nav id="nav-bar">
      <button onclick="location.href='./index.html'">
        <img id="page-logo" alt="">
        <div>Sustainability Web</div>
      </button>
      <button onclick="location.href='./index.html'">Home</button>
      <div id="help-dropdown">
        <div>How can I help?</div>
        <img src="" alt="">
        <div class="dropdown-tab">
          <button onclick="location.href='./rrr.html'">Reduce, Reuse, Recycle</button>
          <button>Test</button>
        </div>
      </div>
      <button>Current Initiatives</button>
    </nav>
    <div id="content">
      <div id="carousel">
        <div class="carousel-slide">Carousel slide</div>
        <div class="carousel-slide-indicator">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>